{% extends 'base.html' %}
{% load static %}
{% block content %}

 <main id="barba-wrapper">
      <div class="barba-container" data-namespace="top">
        <div class="fullpage" id="js-fullpage">
          <div class="section">
<!--            <div class="honorable white right" id="awwwards"><a href="http://www.awwwards.com" target="_blank">Awwwards</a></div>-->
            <div class="fullpage__slide">
              <div class="title title--top">
                <h1 class="title__text js-letter">SAHIL<br>DHIMAN</h1>
                <div class="border js-letter"><span></span><span class="js-letter"></span></div>
                <p class="title__lead js-letter">Python Developer/<br>Software Engineer.</p>
              </div>
              <div class="moon">
                <div class="moon__img js-parallax-moon">
                  <div class="moon__front layer" data-depth="0.2">
                    <div class="moon__text-wrap">
                      <p class="moon__text js-moon" data-depth="0.5">PORTFOLIO</p>
                    </div>
                  </div>
                  <div class="moon__front layer" data-depth="0.8">
                    <div class="cloud cloud--front1 js-moon"><img src="{% static 'assets/img/cloud1.svg' %}" alt="cloud"></div>
                  </div>
                  <div class="moon__back layer" data-depth="0.4">
                    <div class="cloud cloud--back2 js-moon"><img src="{% static 'assets/img/b_cloud02.svg' %}" alt="cloud"></div>
                  </div>
                  <div class="moon__front layer" data-depth="0.6">
                    <div class="cloud cloud--front2 js-moon"><img src="{% static 'assets/img/cloud2.svg' %}" alt="cloud"></div>
                  </div>
                  <div class="moon__back layer" data-depth="0.5"><img class="js-moon" src="{% static 'assets/img/moon.svg' %}" alt="moon"></div>
                  <div class="moon__front layer" data-depth="0.7">
                    <div class="cloud cloud--front3 js-moon"><img src="{% static 'assets/img/cloud3.svg' %}" alt="cloud"></div>
                  </div>
                  <div class="moon__back layer" data-depth="0.3">
                    <div class="cloud cloud--back1 js-moon"><img src="{% static 'assets/img/b_cloud01.svg' %}" alt="cloud"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% for i in projects %}
          <div class="section">
            <div class="fullpage__slide">
              <div class="title">
                <h2 class="title__text js-letter">{{i.project_fname}}<br>{{i.project_lname}}</h2>
                <div class="border js-letter"><span></span><span class="js-letter"></span></div>
                <p class="title__lead js-letter">{{i.project_type}}</p>
                <div class="btn-wrap js-letter"><a class="btn" href="{% url 'project_details' %}">Show me more</a></div>
              </div><a class="image image--works" href="{% url 'project_details' %}">
                <div class="image__over">
                  <div class="image__cover"></div>
                  <div class="image__cover"></div>
                </div>
                <div class="page-num">
                  <p>0{{ forloop.counter }}</p>
                </div></a>
            </div>
          </div>
          {% endfor %}
          <div class="section">
            <div class="fullpage__slide">
              <div class="title">
                <h2 class="title__text js-letter">About Me</h2>
                <div class="border js-letter"><span></span><span class="js-letter"></span></div>
                <p class="title__lead js-letter">I love Codeing, Technology,<br>and Story.</p>
                <div class="btn-wrap js-letter"><a class="btn" href="./about.html">Show me more</a></div>
              </div><a class="image image--about" href="./about.html">
                <div class="image__over">
                  <div class="image__cover"></div>
                  <div class="image__cover"></div>
                </div>
                </a>
            </div>
          </div>
          <div class="section">
            <div class="fullpage__slide">
              <div class="title">
                <h2 class="title__text js-letter">Get In Touch</h2>
                <div class="border js-letter"><span></span><span class="js-letter"></span></div>
                <ul>
                  <li class="js-letter"><a href="mailto:kuon609@gmail.com">Sahildhiman98765@gmail.com</a></li>
                  <li class="js-letter"><a href="https://www.wantedly.com/users/48483598" target="_blank">Wantedly</a></li>
                  <li class="js-letter"><a href="https://twitter.com/Goldi69s" target="_blank"><i class="fab fa-twitter"></i></a><a href="https://dribbble.com/kuon_yagi" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                </ul>
              </div>

              <div class="image image--contact">
                <div class="image__over">
                  <div class="image__cover"></div>
                  <div class="image__cover"></div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <p class="scrollDown">SCROLLDOWN</p>
        <div class="moon-background">
          <div class="moonlight">
            <div class="moonlight__wrap js-parallax-moonlight">
              <div class="layer moonlight__img" data-depth="0.2"></div>
            </div>
          </div>
        </div>
        <div class="star js-parallax-star">
          <div class="layer" data-depth="0.1">
            <div class="star__img"><img src="{% static 'assets/img/star.svg' %}"></div>
          </div>
        </div>
        <div class="sky-color"></div>
      </div>
    </main>
{% endblock %}